# Unity generated folders
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# MemoryCaptures
/[Mm]emoryCaptures/

# Recordings
/[Rr]ecordings/

# Asset Store Tools Plugin
# /[Aa]ssets/AssetStoreTools*

# Jetbrains Rider Plugin
/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio and Gradle
.vs/
.gradle/

# Solution/project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Crash reports
sysinfo.txt
crash_reports/

# Builds
*.apk
*.aab
*.unitypackage
*.app

# Crashlytics
crashlytics-build.properties

# Packed Addressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Android Assets
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*

# Shader Cache
/[Ll]ibrary/ShaderCache/

# Unity Package Manager
/[Pp]ackages/com.unity.*
/[Pp]ackages/packages-lock.json

# iOS Builds
/Build/iOS/
/Build/iPhoneSimulator/
*.xcworkspace
*.xcuserstate
*.xcuserdatad
*.xcsettings
*.xcodeproj/*

# Android Builds
/Build/Android/
*.apk
*.aab

# IDEs
.idea/
/.vscode/
/.vscode/*

# Test Results
/[Tt]est[Rr]esults/
